# 数据探索

In [1]:
import pandas as pd
import numpy as np

In [2]:
from flags import FLAGS, unparsed
from ml.ml_utils import *
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
 """
• id: ad identifier （广告 ID）
• click: 0/1 for non-click/click （是否被点击，其中 0 为不被点击，1 为不被点击，此列为目
标变量）
• hour: format is YYMMDDHH, so 14091123 means 23:00 on Sept. 11, 2014 UTC. （时间）
• C1 -- anonymized categorical variable （类别型变量）
• banner_pos （广告位置）
• site_id （站点 ID）
• site_domain （站点领域）
• site_category （站点类别）
• app_id （APP ID）
• app_domai
• C14-C21 -- anonymized categorical variables （类别型变量）
 """
#读取数据
train = pd.read_csv(FLAGS.src_train_path,nrows =500)

In [26]:
train.shape

(500, 31)

In [25]:
pd.concat([train,train],axis = 1).shape

(500, 62)

In [20]:
train['device_id'].apply(lambda x: x[:2])

0      a9
1      a9
2      a9
3      a9
4      a9
5      a9
6      a9
7      37
8      a9
9      a9
10     a9
11     a9
12     f4
13     df
14     a9
15     a9
16     a9
17     c2
18     a9
19     a9
20     a9
21     a9
22     a9
23     a9
24     a9
25     c7
26     a9
27     a9
28     a9
29     a9
       ..
470    a9
471    a9
472    07
473    a9
474    11
475    a0
476    b1
477    66
478    39
479    a9
480    a9
481    a9
482    a9
483    a9
484    a9
485    a9
486    a9
487    a9
488    a9
489    a9
490    a9
491    a9
492    a9
493    a9
494    a9
495    a9
496    a9
497    a9
498    a9
499    a9
Name: device_id, Length: 500, dtype: object

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 24 columns):
id                  500 non-null uint64
click               500 non-null int64
hour                500 non-null int64
C1                  500 non-null int64
banner_pos          500 non-null int64
site_id             500 non-null object
site_domain         500 non-null object
site_category       500 non-null object
app_id              500 non-null object
app_domain          500 non-null object
app_category        500 non-null object
device_id           500 non-null object
device_ip           500 non-null object
device_model        500 non-null object
device_type         500 non-null int64
device_conn_type    500 non-null int64
C14                 500 non-null int64
C15                 500 non-null int64
C16                 500 non-null int64
C17                 500 non-null int64
C18                 500 non-null int64
C19                 500 non-null int64
C20                 500 non-null int64
C21                 500 non-null int64
dtypes: int64(14), object(9), uint64(1)
memory usage: 93.8+ KB

In [9]:
train['site_id'].dtypes=='object'

True

In [10]:
dict((key,-1) if value <10 else (key,value)  for key,value in dict(train['device_id'].value_counts()).items())

{'0555f2bc': -1,
 '056655be': -1,
 '062b1c4c': -1,
 '074ace60': -1,
 '0d5d53fc': -1,
 '112aad6d': -1,
 '11c958e6': -1,
 '129b5ddc': -1,
 '149fc5c6': -1,
 '203eb659': -1,
 '30b85498': -1,
 '34fb36c5': -1,
 '355dde08': -1,
 '3737ddc6': -1,
 '3772665a': -1,
 '38c2e290': -1,
 '39c1e90b': -1,
 '3a51ff0f': -1,
 '3d28892b': -1,
 '4143684a': -1,
 '4361e319': -1,
 '44239568': -1,
 '45c04824': -1,
 '4b96c779': -1,
 '4d5c4b49': -1,
 '5177bf06': -1,
 '52260ad2': -1,
 '54646d0e': -1,
 '56cd1742': -1,
 '5c9c044a': -1,
 '5fea939e': -1,
 '60ba22c2': -1,
 '626697aa': -1,
 '6280ce87': -1,
 '642eafdb': -1,
 '6659ccd3': -1,
 '692f21b2': -1,
 '6d689031': -1,
 '6f065eef': -1,
 '72cbe240': -1,
 '7b4e01b6': -1,
 '84c8d8fe': -1,
 '8d41dabd': -1,
 '8e6abea8': -1,
 '936e92fb': -1,
 '973e1997': -1,
 '977199d4': -1,
 '9848933c': -1,
 '9883d1cf': -1,
 '989e7418': -1,
 'a040dec4': -1,
 'a2b17167': -1,
 'a39cd601': -1,
 'a5cd53ed': -1,
 'a99f214a': 419,
 'ae843079': -1,
 'af08e95d': -1,
 'b194b8cd': -1,
 'b496f6d3': -1,
 'b9c1b771': -1,
 'b9f25d10': -1,
 'bd631d31': -1,
 'c25d43cd': -1,
 'c3113588': -1,
 'c3d4a419': -1,
 'c7568a45': -1,
 'd26c6fe3': -1,
 'd5eec38b': -1,
 'daf654d0': -1,
 'df25a415': -1,
 'df62db53': -1,
 'e2bc6c93': -1,
 'e55a33e5': -1,
 'e7dfec04': -1,
 'ec43310a': -1,
 'edbad322': -1,
 'f414c848': -1,
 'f551f9a0': -1,
 'fb3dd181': -1,
 'fb6528ec': -1,
 'ff2c57ed': -1}

train = pd.read_csv("D:/GitHub/data/avazu_data/train.csv",usecols=[2],nrows =50)

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40428967 entries, 0 to 40428966
Data columns (total 24 columns):
id                  float64
click               int64
hour                int64
C1                  int64
banner_pos          int64
site_id             object
site_domain         object
site_category       object
app_id              object
app_domain          object
app_category        object
device_id           object
device_ip           object
device_model        object
device_type         int64
device_conn_type    int64
C14                 int64
C15                 int64
C16                 int64
C17                 int64
C18                 int64
C19                 int64
C20                 int64
C21                 int64
dtypes: float64(1), int64(14), object(9)
memory usage: 7.2+ GB

In [11]:

train['date']=pd.to_datetime((train['hour'] / 100).map(int)+20000000)
        
train['one_day']=train['date'].dt.day
train['one_day_hour'] = train['date'].dt.hour
train['week_day'] = train['date'].dt.dayofweek
train['day_hour_prev'] = train['one_day_hour'] - 1
train['day_hour_next'] = train['one_day_hour'] + 1
train['is_work_day'] = train['week_day'].apply(lambda x: 1 if x in [0,1,2,3,4] else 0)
train[train['is_work_day']==0]

Empty DataFrame
Columns: [id, click, hour, C1, banner_pos, site_id, site_domain, site_category, app_id, app_domain, app_category, device_id, device_ip, device_model, device_type, device_conn_type, C14, C15, C16, C17, C18, C19, C20, C21, date, one_day, one_day_hour, week_day, day_hour_prev, day_hour_next, is_work_day]
Index: []

[0 rows x 31 columns]

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 31 columns):
id                  500 non-null uint64
click               500 non-null int64
hour                500 non-null int64
C1                  500 non-null int64
banner_pos          500 non-null int64
site_id             500 non-null object
site_domain         500 non-null object
site_category       500 non-null object
app_id              500 non-null object
app_domain          500 non-null object
app_category        500 non-null object
device_id           500 non-null object
device_ip           500 non-null object
device_model        500 non-null object
device_type         500 non-null int64
device_conn_type    500 non-null int64
C14                 500 non-null int64
C15                 500 non-null int64
C16                 500 non-null int64
C17                 500 non-null int64
C18                 500 non-null int64
C19                 500 non-null int64
C20                 500 non-null int64
C21                 500 non-null int64
date                500 non-null datetime64[ns]
one_day             500 non-null int64
one_day_hour        500 non-null int64
week_day            500 non-null int64
day_hour_prev       500 non-null int64
day_hour_next       500 non-null int64
is_work_day         500 non-null int64
dtypes: datetime64[ns](1), int64(20), object(9), uint64(1)
memory usage: 121.2+ KB

In [12]:
print (train.columns.values)
min_col=['id', 'click', 'hour', 'C1', 'banner_pos', 'site_id',
       'site_domain', 'site_category', 'app_id', 'app_domain',
       'app_category', 'device_id', 'device_ip', 'device_model',
       'device_type', 'device_conn_type']

['id' 'click' 'hour' 'C1' 'banner_pos' 'site_id' 'site_domain'
 'site_category' 'app_id' 'app_domain' 'app_category' 'device_id'
 'device_ip' 'device_model' 'device_type' 'device_conn_type' 'C14' 'C15'
 'C16' 'C17' 'C18' 'C19' 'C20' 'C21' 'date' 'one_day' 'one_day_hour'
 'week_day' 'day_hour_prev' 'day_hour_next' 'is_work_day']

for col in min_col:
    rets=col_anly(col)
    col_plt(rets,col,plt)

In [ ]:
sns_factorplot(train_one=train,col_name='week_day',kind='count',plt=plt,sns=sns)

In [35]:
a=pd.read_csv('F:/GitHub/data/avazu_data/output/num_features.csv',usecols=[9,])

In [36]:
a.head()

   click
0      0
1      0
2      0
3      0
4      0