# 数据探索

In [1]:
import pandas as pd
import numpy as np

In [2]:
from flags import FLAGS, unparsed
from ml.ml_utils import *
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
 """
• id: ad identifier （广告 ID）
• click: 0/1 for non-click/click （是否被点击，其中 0 为不被点击，1 为不被点击，此列为目
标变量）
• hour: format is YYMMDDHH, so 14091123 means 23:00 on Sept. 11, 2014 UTC. （时间）
• C1 -- anonymized categorical variable （类别型变量）
• banner_pos （广告位置）
• site_id （站点 ID）
• site_domain （站点领域）
• site_category （站点类别）
• app_id （APP ID）
• app_domai
• C14-C21 -- anonymized categorical variables （类别型变量）
 """
#读取数据
#train = pd.read_csv(FLAGS.tmp_data_path+"C14")

'\n• id: ad identifier （广告 ID）\n• click: 0/1 for non-click/click （是否被点击，其中 0 为不被点击，1 为不被点击，此列为目\n标变量）\n• hour: format is YYMMDDHH, so 14091123 means 23:00 on Sept. 11, 2014 UTC. （时间）\n• C1 -- anonymized categorical variable （类别型变量）\n• banner_pos （广告位置）\n• site_id （站点 ID）\n• site_domain （站点领域）\n• site_category （站点类别）\n• app_id （APP ID）\n• app_domai\n• C14-C21 -- anonymized categorical variables （类别型变量）\n'

In [23]:
train = pd.read_csv("D:/GitHub/data/avazu_data/train.csv",usecols=[2],nrows =50)

In [24]:
train.head()

       hour
0  14102100
1  14102100
2  14102100
3  14102100
4  14102100

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499999 entries, 0 to 499998
Data columns (total 24 columns):
id                  499999 non-null float64
click               499999 non-null int64
hour                499999 non-null int64
C1                  499999 non-null int64
banner_pos          499999 non-null int64
site_id             499999 non-null object
site_domain         499999 non-null object
site_category       499999 non-null object
app_id              499999 non-null object
app_domain          499999 non-null object
app_category        499999 non-null object
device_id           499999 non-null object
device_ip           499999 non-null object
device_model        499999 non-null object
device_type         499999 non-null int64
device_conn_type    499999 non-null int64
C14                 499999 non-null int64
C15                 499999 non-null int64
C16                 499999 non-null int64
C17                 499999 non-null int64
C18                 499999 non-null int64
C19                 499999 non-null int64
C20                 499999 non-null int64
C21                 499999 non-null int64
dtypes: float64(1), int64(14), object(9)
memory usage: 91.6+ MB

In [7]:
new_row=pd.DataFrame(columns=['date'])
new_row['date']=pd.to_datetime((train['hour'] / 100).map(int)+20000000)
        
new_row['one_day']=new_row['date'].dt.day
new_row['one_day_hour'] = new_row['date'].dt.hour
new_row['week_day'] = new_row['date'].dt.dayofweek
new_row['day_hour_prev'] = new_row['one_day_hour'] - 1
new_row['day_hour_next'] = new_row['one_day_hour'] + 1
new_row['is_work_day'] = new_row['week_day'].apply(lambda x: 1 if x in [0,1,2,3,4] else 0)
new_row[new_row['is_work_day']==0]

Empty DataFrame
Columns: [date, one_day, one_day_hour, week_day, day_hour_prev, day_hour_next, is_work_day]
Index: []

In [12]:
print (train.columns.values)
min_col=['id', 'click', 'hour', 'C1', 'banner_pos', 'site_id',
       'site_domain', 'site_category', 'app_id', 'app_domain',
       'app_category', 'device_id', 'device_ip', 'device_model',
       'device_type', 'device_conn_type']

['id' 'click' 'hour' 'C1' 'banner_pos' 'site_id' 'site_domain'
 'site_category' 'app_id' 'app_domain' 'app_category' 'device_id'
 'device_ip' 'device_model' 'device_type' 'device_conn_type' 'C14' 'C15'
 'C16' 'C17' 'C18' 'C19' 'C20' 'C21']

for col in min_col:
    rets=col_anly(col)
    col_plt(rets,col,plt)

In [9]:
check_col_count_less_11('site_id')

TypeError: check_col_count_less_11() missing 1 required positional argument: 'col_name'

In [ ]:
b=a[a.values<10]

In [ ]:
c=dict(b)

In [ ]:
sns_factorplot(col_name='device_conn_type',kind='count',plt=plt,sns=sns)