# 数据探索

In [1]:
import pandas as pd
import numpy as np

In [2]:
from flags import FLAGS, unparsed
from ml.ml_utils import *
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
 """
• id: ad identifier （广告 ID）
• click: 0/1 for non-click/click （是否被点击，其中 0 为不被点击，1 为不被点击，此列为目
标变量）
• hour: format is YYMMDDHH, so 14091123 means 23:00 on Sept. 11, 2014 UTC. （时间）
• C1 -- anonymized categorical variable （类别型变量）
• banner_pos （广告位置）
• site_id （站点 ID）
• site_domain （站点领域）
• site_category （站点类别）
• app_id （APP ID）
• app_domai
• C14-C21 -- anonymized categorical variables （类别型变量）
 """
#读取数据
#train = pd.read_csv(FLAGS.tmp_data_path+"C14")

'\n• id: ad identifier （广告 ID）\n• click: 0/1 for non-click/click （是否被点击，其中 0 为不被点击，1 为不被点击，此列为目\n标变量）\n• hour: format is YYMMDDHH, so 14091123 means 23:00 on Sept. 11, 2014 UTC. （时间）\n• C1 -- anonymized categorical variable （类别型变量）\n• banner_pos （广告位置）\n• site_id （站点 ID）\n• site_domain （站点领域）\n• site_category （站点类别）\n• app_id （APP ID）\n• app_domai\n• C14-C21 -- anonymized categorical variables （类别型变量）\n'

In [7]:
train = pd.read_csv("D:/GitHub/kaggle-avazu/avazu_data/train_01.csv")

In [8]:
train.head()

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,1.000009e+18,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,2,15706,320,50,1722,0,35,-1,79
1,1.000017e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15704,320,50,1722,0,35,100084,79
2,1.000037e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15704,320,50,1722,0,35,100084,79
3,1.000064e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15706,320,50,1722,0,35,100084,79
4,1.000068e+19,0,14102100,1005,1,fe8cc448,9166c161,0569f928,ecad2386,7801e8d9,...,1,0,18993,320,50,2161,0,35,-1,157

In [27]:
new_row=pd.DataFrame(columns=['date'])
new_row['date']=pd.to_datetime((train['hour'] / 100).map(int)+20000000)
        
new_row['one_day']=new_row['date'].dt.day
new_row['one_day_hour'] = new_row['date'].dt.hour
new_row['week_day'] = new_row['date'].dt.dayofweek
new_row['day_hour_prev'] = new_row['one_day_hour'] - 1
new_row['day_hour_next'] = new_row['one_day_hour'] + 1
new_row['is_work_day'] = new_row['week_day'].apply(lambda x: 1 if x in [0,1,2,3,4] else 0)
new_row[new_row['is_work_day']==0]

Empty DataFrame
Columns: [date, one_day, one_day_hour, week_day, day_hour_prev, day_hour_next, is_work_day]
Index: []

In [5]:
#train.columns.values
min_col=['id', 'click', 'hour', 'C1', 'banner_pos', 'site_id',
       'site_domain', 'site_category', 'app_id', 'app_domain',
       'app_category', 'device_id', 'device_ip', 'device_model',
       'device_type', 'device_conn_type']

for col in min_col:
    rets=col_anly(col)
    col_plt(rets,col,plt)

In [32]:
check_col_count_less_11('site_id')

NameError: name 'check_col_count_less_11' is not defined

In [31]:
a[a.values<10]

7a546792    9
247cf33f    9
429a1f33    9
c7a76cff    9
85194a81    9
bf575090    9
6d22bc99    9
d18b8b01    9
8f839fe3    9
b2fcba59    9
d0460c2d    9
d95a745c    9
1ad84bd5    9
f888f965    9
0b6e967a    9
b823e434    9
8353a846    9
ff06bce4    9
e9b5f108    9
bbe6c351    9
ba5e2d7b    9
b6413bf1    9
22c87e65    9
e6f506cb    9
1d09c3e0    9
59073e64    9
f256ef57    9
0484d43a    9
9b1475b3    9
44a9cf9c    9
           ..
96fcf467    1
c6803105    1
f2c6a445    1
d3009806    1
fe6fab2a    1
ebd68b8c    1
c7cc4e75    1
cd9f1c36    1
ba29268e    1
a3c26c88    1
2366719a    1
60033d0e    1
863360ea    1
b2bfb9e4    1
3d1a0296    1
7b8dd9d1    1
775af77f    1
ed779c69    1
dd2e3fba    1
59a2a16e    1
cb4408e7    1
669f6e65    1
fb7fe338    1
8bfe3df6    1
75f7901f    1
68f95e37    1
4383281f    1
fbb433d5    1
b7dae257    1
b41122f3    1
Name: site_id, Length: 1603, dtype: int64

In [ ]:
sns_factorplot(col_name='device_conn_type',kind='count',plt=plt,sns=sns)